.parent{
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: monospace;
  background-color: #B1B6A6;
}
.bluePart{
  position: sticky;
  top: 0px;
  z-index: 3;
  color: white;
  background-color: #6E7DAB;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.title h1{
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
  font-size: 4.5rem;
}
.dataEntry{
  display: flex;
  justify-content: center;
}
.dataEntry input{
  background-color: rgb(228, 228, 228);
  width: 30%;
  height: 45px;
  border-radius: 13px;
  outline: none;
  font-size: 27px;
  padding-left: 5px;
  font-weight: bolder;
}
.dataEntry button{
  font-family: sans-serif;
  font-weight: bold;
  background-color: transparent;
  height: 45px;
  margin-left: 10px;
  align-self: center;
  border: none;
  border-radius: 13px;
  border-style:inset;
  border-width: 2px;
  border-color: black;
  background-color: rgb(78, 78, 78);
  color: inherit;
  padding: 10px 10px 30px 15px;
  font-size: 18px;
  outline: none;
}
button:hover{
  animation-name:change;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes change {
  100%{
    
    transform: scale(1.1);
  }
}
.grey{
  margin-top: 50px;
  display:flex;
  justify-content: center;
}
.grey h2 {
  border-radius: 3px;
  background-color: transparent;
  font-size: 1.8rem;
  text-align: center;
}

.theList{
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: #000000;
  border-style: solid;
  border-radius: 1rem;
  animation-name: list;
  animation-duration: 2s;
  animation-timing-function: linear;
  margin-bottom: 3rem;
}
@keyframes list {
  0%{
    top: 0;
    opacity: 0;
    transform: scale(0);
    transform: rotate(25deg);
  }
  25%{
    opacity: 0.5;
    transform: scale(2);
    transform: rotate(-40deg);
  }
  50%{
    opacity: 0.5;
    transform: scale(2);
    transform: rotate(15deg);
  }
  75%{
    opacity: 0.5;
    transform: scale(2);
    transform: rotate(-20deg);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}