 #listContainer{
     display: flex;
     margin: 10px 0;
 }
 #listContainer input{
    text-align: center;
    background-color: transparent;
    border:none;
    outline: none;
    font-size: 1.7rem;
  }  
  #listContainer button{
    text-align: center;
    background-color: transparent;
    border: #000000;
    border-style: solid;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    outline: none;
  }
  #dltBtn{
    margin: 0 1.5rem;
  }