@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
 #listContainer{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: .5rem 0rem;
     animation-name: todo;
     animation-duration: .8s;
 }
 #listContainer label{
  font-family: 'Mali', cursive;
  font-size: .9rem;
  width: 130px;
 }
 @media (min-width: 700px){
   #listContainer label{
     font-size: 1rem;
     width: 200px;
   }
 }
 @keyframes todo{
   0%{
     top: -50px;
     visibility: hidden;
     opacity: 0;
   }
   50%{
     top: 0;
     visibility: visible;
     opacity: .5;
     transform: scale(1.2);
   }
 }
 #listContainer label{
    outline: none;
  }
  #listContainer button{
    color: black;
    font-weight: bold;
    background-color: #463F1A;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 0.2rem;
    outline: none;
    box-shadow: 1px 1px 2px 1px;
  }
  #dnBtn:hover{
    color: rgb(1, 134, 1);
    box-shadow: 1px 1px 2px 1px black;
  }
  #dltBtn:hover{
    color:rgb(184, 0, 0);
    box-shadow: 1px 1px 2px 1px black;
  }
  #listContainer button:hover{
    animation-name: changeTwo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes changeTwo{
    100%{
      transform: scale(1.1);
      }
    }